<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Whom Are we ?</h2>
            <p class="text-center">We are software engineers students at National Higher School of Computer Science and Systems Analysis (ENSIAS). </p>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="circle-img" src="/assets/img/ensias.jpg" width="300px" height="400px"></a>
                <h3 class="name">Mohammed Kasmi</h3>
                <p class="description">Ensias Student-Software Engineering.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div
                class="col-sm-6 col-md-4 item"><a href="https://web.facebook.com/profile.php?id=100007089907198"><img class="" src="/assets/img/mk.jpg" width="300px" height="400px"></a>
                <h3 class="name">Article Title</h3>
                <p class="description">Ensias Student-Software Engineering..</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
        <div
            class="col-sm-6 col-md-4 item"><a href="#"><img class="" src="/assets/img/ah.jpg" width="300px" height="400px"></a>
            <h3 class="name">Article Title</h3>
            <p class="description">Ensias Student-Software Engineering..</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
</div>
</div>
</div>
