<a [routerLink]="['/mostrelevant',{keyword:keyword}]" routerLinkActive="router-link-active" ><b class="align-bold">Most relevant</b></a>
<div class="search-result">
<h3 style="color: darkcyan;">Search results</h3>
<h3>total results : {{response.search_info.total_hits}}</h3>
<app-review-card *ngFor="let result of response.results"
 [advancedSearch]="this.advSearch" 
 [title]="result.title"
 [authors]="result.authors"
 [journal]="result.journal"
 [links]="result.external_links"
 [abstract]="result.abstract"
 [year]="result.year"
 [id_review]="result.id"
 [keyword]="keyword"
></app-review-card>
<!--ngSwitch-->

<div [ngSwitch]="this.advSearch">
  <ul class="nav nav-pills" style="margin-left: 150px;" *ngSwitchCase="false">
    <li *ngFor="let item of items" class="nav-item" style="margin-left: 10px;">
      <a class="nav-link active" [routerLink]="['/search',{keyword:this.keyword,year:this.year,advancedSearch:'false',group:this.group,page:item}]" routerLinkActive="router-link-active" >{{item}}</a>
    </li>
  </ul>

  <ul class="nav nav-pills" style="margin-left: 150px;" *ngSwitchCase="true">
    <li *ngFor="let item of items" class="nav-item" style="margin-left: 10px;">
      <a class="nav-link active" [routerLink]="['/search',{keyword:this.keyword,min_year:this.min_year,max_year:this.max_year,advancedSearch:'true',exclude_cochrane:this.cochraneIsChecked}]" routerLinkActive="router-link-active" >{{item}}</a>
    </li>
  </ul>

</div>

